html, body, body* {
  margin: 0;
  padding: 0;
}
html {
  background: #D2E1E4 url(images/header.png) repeat-x top left;
  padding: 0;
  margin: 0}
body {
  background: url(images/footer.gif) repeat-x bottom left;
  padding: 23px 0 10px 0;
  margin: 0;
}

#main {
  width: 600px;
  margin: 0 auto 0 auto;
  background: #ffffff url(images/header.page.png) no-repeat;
  box-shadow: 0px 0px 10px #b3c9d2;
  -moz-box-shadow: 0px 0px 10px #b3c9d2;
  -webkit-box-shadow: 0px 0px 10px #b3c9d2;
  padding: 20px 50px 0 50px;
  font-size: 13px;
}

#main * {
  color: #2e3436;
  font-family: "Liberation Sans", sans-serif;
  font-weight: normal;
  text-align: left;
}
#main h1 {font-size:22px !important;margin:0}
#main h2 {font-size:20px !important;margin-bottom:0px;margin-top:35px;margin-left:0px}
#main h3 {font-size:18px !important;margin-bottom:0px;margin-top:15px;margin-left:10px}
#main h4 {font-size:16px !important;margin-bottom:0px;margin-top:15px;margin-left:20px}

#header {
  width: 700px;
  margin: 0 -50px 0 -50px;
  height: 72px;
}
#header ul {
  position: relative;
  top: 17px;
  float: right;
  margin-right: 23px;
  list-style: none;
  clear: right;
}
#header ul li {
  float: left;
  padding-left: 7px;
  border-left:1px solid #ededed;
}
#header ul li:first-child {
  border-left:none;
}
#header ul li,#header ul li a {
  color: #2e3436
}
#header ul li a {
  text-decoration: none;
}
#header ul li a.active {
  text-shadow: #5bd6ff 0px 0px 15px;
}
#header ul li a:hover {
  text-decoration: underline;
}

#header ul#subnavlist {padding-top:5px}
#header ul#subnavlist * {color:#666}

#mission {
  height: 187px;
  padding: 20px 0 0 0;
}

#sidebar-left {
  height: 187px;
  margin: 0 0 40px 0;
  overflow: auto;
}
#sidebar-left > div.block-user > h2.title {
  display: none;
}

#content {
  margin: 20px 0 0 0;
}

#content h1 {font-size:22px}
#content h2 {font-size:19px}
#content h3 {font-size:17px}
#content h4 {font-size:15px}

#content b, #content strong, #content .form-item label {font-weight:bold}

#content p {line-height:140%}

#content a {
  color: #396273;
  text-decoration: none;
}

#content a:hover {
  text-decoration: underline;
}

#content ul {padding:0px;margin-left:15px}

#content li {margin-bottom:10px}
#content .page-menu {}
#content .page-menu li {color:#D2E1E4;margin-bottom:3px}
#content .page-menu li:hover {color:#BBCBD5}

#content img {margin:5px; padding:5px}
#content .olMap img {margin:0px; padding:0px}

#content .framed {margin:15px;background:#fff;border:1px solid #aaa;
  box-shadow: 0px 0px 10px #b3c9d2;
    -moz-box-shadow: 0px 0px 10px #b3c9d2;
    -webkit-box-shadow: 0px 0px 10px #b3c9d2;
  border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#content table.stretch {width:580px;border:3px solid #fff;}

#content table {
  margin:15px;
  background:#fff;
  border:1px solid #ccc;
  box-shadow: 0px 0px 10px #b3c9d2;
    -moz-box-shadow: 0px 0px 10px #b3c9d2;
    -webkit-box-shadow: 0px 0px 10px #b3c9d2;
}

#content tr:first-child {background:#D2E1E4 !important;}
#content tr:nth-child(odd) {background:#EDEFF0}
#content tr:nth-child(even) {background:#f8f8f8}
#content tr:hover {}
#content tr:hover td.timeline{background-image:none;background-color:#BFEAFF}

#content th, #content td {
    border:none;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
}

#content table.stretch td, #content table.stretch th {border:3px solid #fff;}

#content th{
  font-weight:bold;
  text-shadow:#fff 0px 0px 1px;
}

#content .form-required {
  color: #f00;
}

#content table td.timeline{
  text-shadow: #fff 1px 1px 3px, #fff -1px -1px 3px;
  background: url(images/orline-left.gif) 0% 90% no-repeat, url(images/orline-left.gif) 100% 90% no-repeat, url(images/orline-main.gif) 0% 90% repeat-x;
  }

.map-block {background-color:#F6F8F9;background-image: url(images/loader.gif) 50% 50% no-repeat; box-shadow: 0px 0px 20px #b3c9d2; -moz-box-shadow: 0px 0px 20px #b3c9d2; -webkit-box-shadow: 0px 0px 20px #b3c9d2}
.map-block * {padding:0 !important;margin:0 !important;border:none}

.map-block .feature-layer { display: none; }
.map-block .feature-name { font-weight: bold !important; }

#sponsors{
  float:right;
  margin-right:0px!important;
  margin-top:0px!important;
}
#sponsors td {width:48px;height:48px;border:3px solid #fff;overflow:hidden;
  padding:0!important;margin:0!important;line-height:100%}
#sponsors th {border:3px solid #fff}
#sponsors th {text-shadow:#fff 0px 0px 10px;text-align:center}
#sponsors tr {background:#fff!important}
#sponsors td a {padding:0!important;margin:0!important}
#sponsors td img {padding:4px!important;margin:0px!important;border:1px solid #fff}
#sponsors td img:hover {border:1px solid #aaa}

#sorted {}
#sorted thead td {cursor:pointer;background:#D2E1E4 !important;  font-weight:bold;
  text-shadow:#fff 0px 0px 1px;}
#sorted tr:first-child {background:#EDEFF0 !important;}
#sorted .arrow_up,
#sorted .arrow_dn {
  width:10px;
  height:14px;
  display:block;
  float:left;
  background-image: url('images/sort.gif');
  background-repeat: no-repeat;
}
#sorted .arrow_up {background-position: top left}
#sorted .arrow_dn {background-position: bottom left}

#footer {
  width: 700px;
  height: 42px;
  margin: 0 -50px 15px -50px;
  background-image: url('images/footer.page.png');
  background-repeat: no-repeat;
  background-position: bottom left;
}

#footer * {
  padding:0;
  margin:0;
  color: #b3c9d2;
  font-size: 9px;
  text-align: center;

}

#footer .content{
  padding-top:8px;
  line-height:80%
}

#footer .footer-menu a{
  color:#999;
  font-size:11px;
  text-decoration:none;
}

#footer .footer-menu a:hover{
  color:#444;
  text-decoration:underline;
}

/* some ugly overrides to unbreak tinymce */
.defaultSkin table, .defaultSkin td {border:0 !important; margin:0 !important; padding:0 !important;}
.defaultSkin tr:hover {background:transparent !important}
.defaultSkin table.mceLayout {border-left:1px solid #CCC !important; border-right:1px solid #CCC !important}
.defaultSkin table.mceLayout tr.mceFirst td {border-top:1px solid #CCC !important}
.defaultSkin table.mceLayout tr.mceLast td {border-bottom:1px solid #CCC !important}
.defaultSkin .mceIframeContainer {border-top:1px solid #CCC !important; border-bottom:1px solid #CCC !important}

#main table.schedule td {
    border: 1px solid #CCCCCC;
}

#main table.schedule .notrack {
    text-align: center;
}

#main table.schedule .track_keynote {
    text-align: center;
    background-color: #F7AE66;
}

#main table.schedule .track1 {
    background-color: #ADD8E6;
}

#main table.schedule .track2 {
    background-color: #F0A0A0;
}

#main table.schedule .track3 {
    background-color: #D6C8EE;
}

#main table.schedule .track4 {
    background-color: #A0F0F0;
}

#main table.schedule .track5 {
    background-color: #A0EEB5;
}

#main table.schedule .track6 {
    background-color: #EEEE44;
}

#main table.schedule .tracklightning {
    background-color: #84EE42;
}

