/* $Id: openlayers.css,v 1.1.2.15 2009/07/05 19:51:59 openwereld Exp $ */

div#panels {
  float: left;
  padding: 2px;
}

div.panel {
  right: 0px;
  height: 30px;
  width: auto;
  float: left;
  padding: 4px;
}

div.panel div { 
  float: left;
  margin: 5px;
}

.olControlRuler {
  background-image: url(../img/measuring-stick.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.olControlRulerItemActive {
  background-position: 0px 0px;
  background-image: url(../img/measuring-stick.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.olControlRulerItemInactive {
  background-position: 0px -24px;
  background-image: url(../img/measuring-stick.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.olControlEditingToolbar .olControlModifyFeatureItemInactive {
  background-image: url(../img/editing_tool_bar.png);
  background-position: -1px 0px;
  background-repeat: no-repeat;
}

.olControlEditingToolbar .olControlModifyFeatureItemActive {
  background-image: url(../img/editing_tool_bar.png);
  background-position: -1px -23px;
  background-repeat: no-repeat;
}

div.olControlEditingToolbar {
  float: left;
  right: 0px;
  height: 30px; 
}

.olControlAttribution {
  bottom: 0px!important
}

/*div.olControlMousePosition {
  background: transparent url(transparent.png) repeat;
}
*/

.statusbar-container {
  background-color: #EEE;
  font-size: smaller;
  border: 1px solid #CCC;
  overflow: hidden;
}

.statusbar {
  width: auto;
  padding: 4px;
  display: inline;
  position: relative;
  border-right: 1px solid #CCC;
}

.statusbar-mouseposition {
}

.statusbar-scale {
  font-style: italic;
}

.olControlZoomToMaxExtentItemInactive {
  background-image: url(../img/zoom-max-extent.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.olControlZoomToExtentItemInactive {
  background-image: url(../img/zoom-max-extent.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.mkControlMapContextItemInactive {
  background-image: url(../img/disk.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.mkControlPrintContextItemInactive {
  background-image: url(../img/printer.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.mkControlFeatureInfoItemInactive {
  background-image: url(../img/information-off.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.mkControlFeatureInfoItemActive {
  background-image: url(../img/information-on.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.mkControlHelpItemInactive {
  background-image: url(../img/help.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.mkControlStreetViewItemActive {
  background-image: url(../img/views-on.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

.mkControlStreetViewItemInactive {
  background-image: url(../img/views-off.png);
  background-repeat: no-repeat;
  height: 24px;
  width: 24px;
}

#embedded_map {
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  text-align: right;
  z-index: 2000;
}

#embedded_map_main {
  background-color: #2E378C;
  border: 1px solid black;
  display: none;
}

.streetview {
  border: 1px solid black;
  margin: 5px 5px 5px 5px;
  color: white;
}

#vemap , #streetview, #cyclomedia {
}

#embed_switcher {
  /*text-decoration: underline;*/
  color: #eee;
  margin-right: 8px;
  margin-top: 5px;
  position: absolute;
  left: 4px;
  cursor: pointer;
}

.embed_switcher_tab {
  display: inline;
  margin-left: 5px;
}

.active {
  font-weight: bold;
}

#embed_header {
  cursor: move;
  display: block;
  height: 20px;
}

#embed_closer {
  background-image: url(../img/stop.png);
  /*display: inline;*/
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 4px;
  width: 16px;
}

#MSVE_obliqueNotification {
  visibility: visible;
}

.olPopupContent {
  padding: 5px;
  overflow: auto;
}

.olFramedCloudPopupContent {
  padding: 5px;
  overflow: auto;
}

.feature-item {
  float: none;
  clear: both;
}

.feature-attribute {
  display: block;
  font-size: 0.8em;
  width: 320px;
  margin: 2px;
  /*clear: both;*/
}

.feature-attribute-name {
  float: left;
  width: 100px;
  font-style: italic;
}

.feature-attribute-value {
  float: left;
  border: thin solid #eee;
  width: 200px;
}


